<!doctype html>
<html lang="en">
  <head>
    <title>Check Shopping List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;     
      }
      li > button {s
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app="ShoppingList">
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">
      <!-- To Buy List  : col-md-6 is for dividing the table into 6 grids out of 12 available as per bootstrap -->
      <div class="col-md-6" ng-controller='ControllerListBuy as checklist'>
        <h2>To Buy:</h2>
        <ul>
         <li ng-repeat="item in checklist.list">
                <div class="col-md-6">{{item.quantity}} bags of {{item.name}}</div>
           <button class="btn btn-default" ng-click="checklist.boughtItem($index)">
            <span class="glyphicon glyphicon-ok"></span> Bought</button>
         </li>
        </ul> 
        <div class="emptyMessage">{{checklist.errorMessage}}</div>
      </div>
      <!-- Already Bought List -->
      <div class="col-md-6" ng-controller="ControllerBoughtList as boughtList">
        <h2>Already Bought:</h2>
          <ul>
             <li ng-repeat="item in boughtList.boughtItems">
                {{item.quantity}} bags of {{item.name}}
             </li>
          </ul>
        <div ng-if="boughtList.boughtItems.length < 1" class="emptyMessage">{{boughtList.errorMessage}}</div>
      </div>
    </div>
  </div>
</body>
</html>
