<a ui-sref="home">Home</a> &lt;
<a ui-sref="mainList">List</a>


<div ng-if="itemDetail.items.length>0">
    <h3>{{title}}</h3>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Description</th>

        </tr>
        <tr ng-repeat="item in itemDetail.items" ng-class-odd="odd" ng-class-even="even">
            <td>{{item.name}}</td>
            <td>{{item.short_name}}</td>
            <td>{{item.description}}</td>

        </tr>
    </table>

</div>